/* Reset everything */
* {
    margin: 0;
    padding: 0;
}

/* Element selector */
h2 {
    color: darkblue;
}

/* ID selector */
#mainHeader {
    font-size: 32px;
    text-align: center;
}

/* Class selector */
.eventCard {
    box-shadow: 0 0 10px #aaa;
    margin: 20px;
    padding: 10px;
}

/* Group selector */
h3, p {
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}
